

header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    background-color: #F5F5F5;
    box-shadow: 0 0 7px rgba(0,0,0, 0.5);
}
form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 42px;
    background-color: #fff;
    border-radius: 30px;
    background-color: #FF6A00;
    padding: 0 3px 0 1px;
}
form input{
    width: 450px;
    height: 95%;
    border: none;
    outline: none;
    padding: 0 12px;
    border-radius: 30px;
  
}
form button {
    width: 50px;
}
form button .bi-search{
    font-size: 22px;
    color: #fff;
}
form button .bi-search:active {
    border: none;
}
header nav{
    display: flex;
    align-items: center;
}
header nav a {
    text-decoration: none;
    color: #222;
    margin-right: 30px;
}
nav .bi-cart3{
   font-size: 22px;
   position: relative;
   color: #222;
}
nav .bi-cart3 .cart_items{
    position:absolute;
    font-size: 12px;
    top: -6px;
    right: -9px;
    background-color: coral;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 2px;
    color: #fff;
}

nav .bi-list{
    display: none;
}
nav .bi-x-lg{
    display: none;
}
.logotp{
    display: none;
}

@media (max-width: 1120px){
    header{
        padding: 0 2%;
    }
    form input{
        width: 320px;
    }
    nav a {
        margin-right: 15px;
    }
}
@media (max-width: 769px){
    header{
        position: relative;
    }
    nav .nav_link{
       display: none;
    }
    .nav_active_link{
        position: absolute;
        right: 0px;
        border-radius: 5px;
        box-shadow:0 0 7px rgba(0,0,0, 0.5);
        top: 80px;
        display: flex;
        flex-direction: column;
        background-color: lightseagreen;
        color: #fff;
        width: 200px;
        height: 40vh;
        z-index: 999;
        padding-top: 18px;
    }
    .logotp{
        display: block;
        text-align: center;
        margin-bottom: 22px;
    }
    .nav_active_link a{
        font-size: 22px;
        margin-bottom: 12px;
        text-align: end;
        color: #fff;
    }
    .nav_active_link a:hover{
       color:#FF6A00;
    }
    nav .nav_link a{
        margin-bottom: 22px;
        z-index: 99999;
    }

    form input{
        width: 300px;
    }
    nav .bi-list{
        display: block;
        font-size: 22px;
        margin-left: 10px;
        cursor:  pointer;
    }
    nav .bi-x-lg{
        display: block;
        font-size: 22px;
        margin-left: 10px;
        cursor:  pointer;
    }
    
}

@media (max-width: 550px){
    form{
        height: 32px;
    }
    form input{
        width: 200px;
    }
} 
@media (max-width: 360px){
    form input{
        width: 150px;
    }
}